{% extends "base.html" %}
{% block side-bar-menus %}
    <ul>
    <!-- 前端通过request对象里面的user信息反向查找userprofile -->
    {% for role in request.user.userprofile.roles.all %}
            {% for menu in role.menus.all %}
                <li>
                    <!-- 这里的 menu.url_type 等于0表示相对路径 1表示绝对路径-->
                    <a href="{% if menu.url_type == 0 %}{% url menu.url_name %}{% else %}{{ menu.url_name }}{% endif %}">
                        <i class="fa {{ menu.url_icon }}"></i>
                        <span>{{ menu.name }}</span>
                    </a>
                </li>
            {% endfor %}
    {% endfor %}
        <li>
            <a href="index.html">
                <i class="fa fa-coffee"></i>
                <span>运营</span>
            </a>
        </li>
    </ul>
{% endblock %}
{% block body %}777{% endblock %}