<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PyManager</title>
</head>
<body>
    {% extends 'home.html' %}
    {% block body %}
        <ul>
            <li>{{ data.id }}</li>
            <li>{{ data.name }}</li>
            <li>{{ data.ip }}</li>
            <li>{{ data.business }}</li>
            <li>{{ data.status }}</li>
            <li>{{ data.idc_name }}</li>
            <li>{{ data.idc_cabinet }}</li>
            <li>{{ data.person }}</li>
            <li>{{ data.ctime|date:"Y-m-d H:i:s" }}</li>
        </ul>
    {% endblock %}
</body>
</html>