<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/backend.css"/>
    <link rel="stylesheet" href="/static/css/commons.css"/>
    <link rel="stylesheet" href="/static/css/jquery.treemenu.css">
    <link rel="stylesheet" href="/static/css/bootstrap-select.css">

    {% block css %} {% endblock %}
</head>
<body>
<div class="pg-header">
    {% include 'include/header_menu.html' %}
</div>
<div class="pg-body">
    <div class="menu">
        <a id="menu_item" class="menu-item" href="/read.html">
            <i class="fa fa-map-o" aria-hidden="true"></i>
            <span>资产查询</span>
        </a>
        <a id="menu_search" class="menu-item" href="/authorizer.html">
            <i class="fa fa-user-o" aria-hidden="true" style="width: 14px; margin-left: 1px"></i>
            <span>权限查询</span>
        </a>
{#        <a id="menu_create" class="menu-item" href="/_project.html">#}
{#            <i class="fa fa-gitlab" aria-hidden="true" style="width: 14px; margin-left: 1px"></i>#}
{#            <span>项目创建</span>#}
{#        </a>#}
        <a id="menu_list" class="menu-item" href="/projects_read.html">
            <i class="fa fa-th-list" aria-hidden="true" style="width: 14px; margin-left: 1px"></i>
            <span>项目列表</span>
        </a>
{#        <a id="menu_online" class="menu-item" href="/apply_read.html">#}
{#            <i class="fa fa-ioxhost" aria-hidden="true" style="width: 14px; margin-left: 1px"></i>#}
{#            <span>申请记录</span>#}
{#        </a>#}
        <div id="user_menu">

        </div>
{#        <a id="menu_audit_db" class="menu-item" href="/audit_db.html">#}
{#            <i class="fa fa-connectdevelop" aria-hidden="true" style="width: 14px; margin-left: 1px"></i>#}
{#            <span>D B 审核</span>#}
{#        </a>#}
{#        <a id="menu_audit_sa" class="menu-item" href="/audit_sa.html">#}
{#            <i class="fa fa-connectdevelop" aria-hidden="true" style="width: 14px; margin-left: 1px"></i>#}
{#            <span>S A 审核</span>#}
{#        </a>#}
{#        <a id="menu_config" class="menu-item" href="/configs.html">#}
{#            <i class="fa fa-cog" aria-hidden="true" style="width: 14px; margin-left: 1px"></i>#}
{#            <span>配置修改</span>#}
{#        </a>#}
        <a id="menu_record" class="menu-item" href="/apply_read.html">
            <i class="fa fa-cloud-upload" aria-hidden="true" style="width: 14px; margin-left: 1px"></i>
            <span>上线查询</span>
        </a>
{#        <a id="menu_list" class="menu-item" href="/project_list_r.html">#}
{#            <i class="fa fa-th-list" aria-hidden="true" style="width: 14px; margin-left: 1px"></i>#}
{#            <span>发布列表</span>#}
{#        </a>#}
{#        <a id="menu_online" class="menu-item" href="/release_r.html">#}
{#            <i class="fa fa-cloud-upload" aria-hidden="true" style="width: 14px; margin-left: 1px"></i>#}
{#            <span>发布记录</span>#}
{#        </a>#}
        <a id="menu_url" class="menu-item" href="/env_url.html">
            <i class="fa fa-television" aria-hidden="true" style="width: 14px; margin-left: 1px"></i>
            <span>环境接口</span>
        </a>
{#        <ul class="tree" style="margin-left: -25px"></ul>#}
    </div>
    <div class="content">
        {% block conent %} {% endblock %}
    </div>
</div>
<script type="text/javascript" src="/static/js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="/static/js/jquery.treemenu.js"></script>
<script>
    $(function(){
        $("#business").click(function () {
            if ($('#show_bussiness').attr('style')) {
                $('#show_bussiness').removeAttr('style');
                $('#business_icn').removeClass('fa fa-chevron-down');
                $('#business_icn').addClass('fa fa-chevron-up');
            }else {
                $('#show_bussiness').attr('style','display:none');
                $('#business_icn').removeClass('fa fa-chevron-up');
                $('#business_icn').addClass('fa fa-chevron-down');
            }
        })
    });
</script>
{% block js %}{% endblock %}
</body>
</html>