<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/backend.css"/>
    <link rel="stylesheet" href="/static/css/commons.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-select.css"/>
{#    <link href="/static/css/bootstrap-switch.css" rel="stylesheet">#}


    {% block css %} {% endblock %}
</head>
<body>
<div class="pg-header">
    {% include 'include/header_menu.html' %}
</div>
<div class="pg-body">
    <div class="menu">
        <a id="menu_asset" class="menu-item" href="/task_virtual.html">
            <i class="fa fa-vimeo" aria-hidden="true"></i>
            <span>KVM</span>
        </a>
        <a id="menu_docker" class="menu-item" href="/docker_index.html">
            <i class="fa fa-mixcloud" aria-hidden="true"></i>
            <span>Docker</span>
        </a>
        <a id="menu_server" class="menu-item" href="/server_install.html">
            <i class="fa fa-server" aria-hidden="true"></i>
            <span>物理机</span>
        </a>
        <a class="menu-item" href="#">
            <i class="fa fa-desktop" aria-hidden="true"></i>
            <span>日志管理</span>
        </a>

    </div>
    <div class="content">
        {% block conent %} {% endblock %}
    </div>
</div>
<script type="text/javascript" src="/static/js/jquery-1.12.4.js"></script>
{% block js %}{% endblock %}
</body>
</html>