{% extends 'layout/_laybusiness.html' %}

{% block css %}
<style>
    .guige {

    }

    .guige-table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

    .guige-table .title {
        background: #f5fafe;
        text-align: left;
        font-weight: bold;
        line-height: 32px;
        height: 32px;
        font-family: "微软雅黑";
        border-right: 1px solid #dcdcdc;
        border-left: 2px solid #0488cd;
    }

    .guige-table td, .content .guige-table th {
        border: 1px solid #dcdcdc;
        line-height: 30px;
        height: 30px;
        padding: 0 10px;
        border-top: 0;
    }

    .guige-table .body-left {
        width: 126px;
        font-weight: normal;
        text-align: right;
        color: #666;
    }

    .guige-table .body-right {
        color: #333;
    }

    .bootstrap-select {
        width: 100px;
    }

</style>


{% endblock %}

{% block conent %}
    <ol class="breadcrumb" style="margin-bottom: 0;">
        <li><a href="/cmdb.html">首页</a></li>
        <li><a href="/asset.html">资产列表</a></li>
        <li class="active">添加资产</li>
    </ol>
    <div style="padding: 5px 8px;">

        <div style="width: 600px; float: left">
            <div class="guige">
                <table class="guige-table">
                   <tbody>
                    <tr>
                        <th colspan="5" class="title f14 th" style="border-left:2px solid #0488cd;"><span class="padding-l-8">基本信息</span></th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <form role="form">
                <label>主机名</label>
                <div class="form-group">
                  <input id="host" type="text" class="form-control" placeholder="">
                </div>
                <label>管理IP</label>
                <div class="form-group">
                  <input id="ip" type="text" class="form-control" placeholder="">
                </div>
                <label>机房</label>
                <div class="form-group">
                  <input id="idc" type="text" class="form-control" placeholder="">
                </div>
                <label>机柜</label>
                <div class="form-group">
                  <input id="cabinet" type="text" class="form-control" placeholder="">
                </div>
                                <label>上架日期</label>
                <div class="form-group">
                  <input id="putaway" type="text" class="form-control" placeholder="">
                </div>
{#                <label>型号</label>#}
{#                <div class="form-group">#}
{#                  <input type="text" class="form-control" placeholder="">#}
{#                </div>#}
            </form>
        </div>

        <div style="width: 600px; float: right">
            <div class="guige" >
                <table class="guige-table">
                   <tbody>
                    <tr>
                        <th colspan="5" class="title f14 th" style="border-left:2px solid #0488cd;"><span class="padding-l-8">硬件信息</span></th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <form role="form">
                <label>机器型号</label>
                <div class="form-group">
                  <input id="machine" type="text" class="form-control" placeholder="">
                </div>
                <label>序列号</label>
                <div class="form-group">
                  <input id="sn" type="text" class="form-control" placeholder="">
                </div>
                <label>CPU</label>
            <div class="form-group" >
            <div id="wd">
                <select class="selectpicker">
                      {% for item in response.data %}
                      <option id="cpu" value={{ item.id }}>{{ item.name }}</option>
                      {% endfor %}
                </select>
            </div>
            </div>
                <br>
                <label>内存</label>
                <div class="form-group">
                  <input id="memory" type="text" class="form-control" placeholder="">
                </div>
                <label>RAID</label>
                <div class="form-group">
                  <input id="raid" type="text" class="form-control" placeholder="">
                </div>
                                <label>保修日期</label>
                <div class="form-group">
                  <input id="service" type="text" class="form-control" placeholder="">
                </div>
            </form>
        <br>
        </div>


        <div class="guige">
            <table class="guige-table">
                <tbody id="disk_all">
                    <tr>
                        <th colspan="6" class="title f14 th" style="border-left:2px solid #0488cd;">
                            <span class="padding-l-8">硬盘信息 </span>
                            <i class="fa fa-plus-square-o" aria-hidden="true" onclick="add_disk(this);"></i>
                        </th>

                    </tr>
                     <tr>
                       <th>选择</th>
                       <th>插槽</th>
                       <th>容量(GB)</th>
                       <th>接口类型</th>
                       <th>型号</th>
                     </tr>
                    <tr id="eth">
                       <td></td>
                       <td><input type="text" style="border: none; margin-right: -84px; width: 80px" value="1"></td>
                       <td><input type="text" style="border: none; margin-right: -84px; width: 120px" value="500"></td>
                       <td><input type="text" style="border: none; margin-right: -84px; width: 80px" value="SAS"></td>
                       <td><input type="text" style="border: none; margin-right: -77px; width: 200px" value="SEAGATE ST300MM0006 LS08S0K2B5NV"></td>
                     </tr>
                </tbody>
            </table>
        </div>

        <br>

        <div class="guige">
            <table class="guige-table">
                <tbody id="eth_all">
                    <tr>
                        <th colspan="6" class="title f14 th" style="border-left:2px solid #0488cd;">
                            <span class="padding-l-8">网卡信息 </span>
                            <i class="fa fa-plus-square-o" aria-hidden="true" onclick="add_eth(this);"></i>
                        </th>

                    </tr>
                     <tr>
                       <th>选择</th>
                       <th>网卡</th>
                       <th>Mac地址</th>
                       <th>IP地址</th>
                       <th>上联交换机</th>
                       <th>交换机端口</th>
                     </tr>
                    <tr id="eth">
                       <td></td>
                       <td><input type="text" style="border: none; margin-right: -84px; width: 80px" value="eth0"></td>
                       <td><input type="text" style="border: none; margin-right: -84px; width: 120px" value="00:1c:42:a5:57:7a"></td>
                       <td><input type="text" style="border: none; margin-right: -84px; width: 80px" value="192.168.1.1"></td>
                       <td><input type="text" style="border: none; margin-right: -84px; width: 100px" value="192.168.1.254"></td>
                       <td><input type="text" style="border: none; margin-right: -84px; width: 80px" value="8"></td>
                     </tr>
                </tbody>
            </table>
        </div>
    <br>
    <button id="add_host_save" class="btn btn-primary" type="button" style="float: right; margin-right: 20px; width: 150px">提交保存</button>

    </div>


{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/nb-list.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>



    <script>
        $(function () {
            $.initMenu('#menu_asset');
            window.setTimeout(add_width, 100);

            $('#add_host_save').click(function () {
                var host = $('#host').val();
                var ip = $('#ip').val();
                var idc = $('#idc').val();
                var cabinet = $('#cabinet').val();
                var putaway = $('#putaway').val();
                var machine = $('#machine').val();
                var sn = $('#sn').val();
                var cpu = $('#cpu').val();
                var memory = $('#memory').val();
                var raid = $('#raid').val();
                var service = $('#service').val();
{#                if(host == '' || ip == '' || idc == '' || cabinet == '' || putaway == '' || machine == '' || sn == '' ||#}
{#                memory == '' || raid == '' || service == ''){#}
                if(host == '' || ip == ''){
                    alert('输入不能为空...')
                }else{
                    // 循环取硬盘值
                    var disk_list = new Array();
                    $('#disk_all').find('tr').each(function () {
                        var list_s = new Array();
                        $(this).find('td').each(function () {
                            var v = $(this).children().val();
                            list_s.push(v);
                        });
                        disk_list.push(list_s);
                    });

                    // 循环取网卡值
                    var nic_list = new Array();
                    $('#eth_all').find('tr').each(function () {
                        var list_s = new Array();
                        $(this).find('td').each(function () {
                            var v = $(this).children().val();
                            list_s.push(v);
                        });
                        nic_list.push(list_s);
                    });

                    $.ajax({
                        url: '/add-asset.html',
                        type: 'POST',
                        data: {'host': host, 'ip': ip, 'memory': memory,
                        'idc': idc, 'cabinet': cabinet, 'putaway': putaway, 'machine': machine, 'sn': sn,
                            'cpu': cpu, 'service': service, 'raid': raid, 'disk_list': disk_list, 'nic_list': nic_list},
                        dataType: 'JSON',
                        traditional: true,
                        success: function (response) {
                            if(response.status){
                                alert(666);
                            }
                        }
                    })
                }
            })
        });

        function add_eth(ths) {
            var p = $(ths).parent().parent().next().next().clone();
            $('#eth_all').append(p);
            $('#eth_all tr:last td:eq(0)').append("<i class='fa fa-minus-square-o' aria-hidden='true' onclick='remove(this);'></i>");
        }

        function add_disk(ths) {
            var p = $(ths).parent().parent().next().next().clone();
            $('#disk_all').append(p);
            $('#disk_all tr:last td:eq(0)').append("<i class='fa fa-minus-square-o' aria-hidden='true' onclick='remove(this);'></i>");
        }

        function remove(ths) {
            $(ths).parent().parent().remove();
        }

        function add_width() {
            $('#wd').children().prop('style', 'width: 600px');
        }


    </script>

{% endblock %}