{% extends 'layout/_laybusiness.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/css/bootstrap-select.css">


{% endblock %}

{% block conent %}
    <ol class="breadcrumb" style="margin-bottom: 0;">
        <li><a href="/cmdb.html">首页</a></li>
        <li class="active">配置文件管理</li>
    </ol>
    <div style="padding: 5px 8px;">
        <h2>修改配置文件</h2>
        <div style="width: 100%; height: 50px;">
            <h4 style="display: inline-block">配置</h4>
            <h4 id="file_name" style="display: inline-block"></h4>
            <div style="float: right; margin-right: 28px">
                <select id="business_2" class="selectpicker" onchange="get_files()">
                    {% for item in business_two_list %}
                        <option id="recipient-name" value={{ item.id }}>{{ item.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <h4 style="display: inline-block; float: right">选择要编辑的业务线：</h4>
        </div>
        <div>
            <textarea id="config_text" style="width: 80%; height: 600px"></textarea>
            <div id="config_files" style="width: 19%; height: 600px; float: right"></div>
        </div>
        <a id="file_commit" class="btn btn-group no-radius" style="width: 100px;">
            <i class="fa fa-hand-o-right"></i>
            保存修改
        </a>

    </div>

    <!-- 遮罩层开始 -->
    <div id='shade' class='shade hide'></div>
    <!-- 遮罩层结束 -->

    <!-- 加载层开始 -->
    <div id='loading' class='loading hide'></div>
    <!-- 加载层结束 -->

{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/nb-list.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>

    <script>
        $(function () {
            $.initMenu('#menu_config');
            $('#file_commit').click(function () {
                var business_id = $('#business_2').selectpicker('val');
                var file_content = $('#config_text').val();
                var file_name = $('#file_name').text();
                $.ajax({
                    url: '/config.html',
                    type: 'POST',
                    data: {'file_content': file_content, 'file_name': file_name, 'business_id': business_id},
                    dataType: 'JSON',
                    success: function (response) {
                        if(response.status){
                            alert(666)
                        }
                    }
                })
            })
        });
        function get_files() {
            var business = $('#business_2').selectpicker('val');
            $.ajax({
                url: '/config.html',
                type: 'GET',
                data: {'business': business},
                dataType: 'JSON',
                success: function (response) {
                    if(response.status){
                        $.each(response.data, function (k,v) {
                            var s = '<p onclick=get_config("'+ v + '")>' + v + '</p>';
                            $('#config_files').append(s)
                        })
                    }else {
                        alert('no...')
                    }
                }
            })
        }

        function get_config(file) {
            var business_id = $('#business_2').selectpicker('val');
            $('#file_name').text(file);
            $.ajax({
                url: '/config.html',
                type: 'GET',
                data: {'file': file, 'business_id': business_id},
                dataType: 'JSON',
                success: function (response) {
                    if(response.status){
                        $('#config_text').text(response.data);
                    }
                }
            })
        }

        function file_commit() {
            var business_id = $('#business_2').selectpicker('val');
            var file_content = $('#config_text').text();
            var file_name = $('#file_name').text();
            $.ajax({
                url: '/config.html',
                type: 'POST',
                data: {'file_content': file_content, 'file_name': file_name, 'business_id': business_id},
                dataType: 'JSON',
                success: function (response) {
                    if(response.status){
                        alert(666)
                    }
                }
            })
        }
    </script>
{% endblock %}