{% extends 'docker_base.html' %}

{% block css %}

{% endblock %}

{% block conent %}
    <ol class="breadcrumb" style="margin-bottom: 0;">
        <li><a href="/cmdb.html">首页</a></li>
        <li class="active">容器管理</li>
    </ol>

    <div class="king-instruction king-instruction-success">
    <h5>使用说明</h5>
    <p>1、您可以设置应用运行时的环境变量，在进行 <span>测试部署</span> 和 <span>正式部署</span> 操作时会生效。</p>
    <p>2、在您的应用中可以执行 <span>os.environ.get('BKAPP_variable_name')</span> 访问您设置的环境变量。</p>
    <p>3、环境变量名都以'BKAPP_'为前缀，您输入名字时不需要输入前缀。</p>
    <p>4、变量名和变量的值均以大小写英文字母，数字或者下划线组成，变量名最大长度为50字符，值的最大长度为100字符。</p>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <ul id="treeview_demo1" class="treeview_demo">
                    <li data-expanded="true">
                        物理节点
                        <ul>
                            <li><i class="glyphicon glyphicon-hand-right"></i>
                                <a onclick="containers_get('192.168.38.56')"></a>192.168.38.56</li>
                            <li><i class="glyphicon glyphicon-hand-right"></i>
                                <a onclick="containers_get('192.168.38.57')"></a>192.168.38.57</li>
                        </ul>
                    </li>

                        <li data-expanded="true">
                            镜像管理
                        <ul>
                            <li>
                                <input type="checkbox" onclick="containers_get('192.168.38.56')">192.168.38.56</li>
                            <li>
                                <input type="checkbox">192.168.1.2</li>
                        </ul>
                    </li>
                </ul>
            </div>

{#        <img id="loading" alt="loadding" src="/static/imgs/hourglass.gif">#}

            <div class="col-md-10">
                    <table class="table table-bordered table7_demo">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>名称</th>
                            <th>IP</th>
                            <th>镜像</th>
                            <th>运行时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="add_data">
                    {% for item in data %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.Id }}</td>
                            <td>{{ item.Names }}</td>
                            <td>{{ item.NewIp }}</td>
                            <td>{{ item.Image }}</td>
                            <td>{{ item.Status }}</td>
                            <td>
                                {% if item.State == 'running' %}
                                    <span class="label label-success">{{ item.State }}</span>
                                {% elif item.State == 'exited' %}
                                    <span class="label label-default">{{ item.State }}</span>
                                {% endif %}
                            </td>
                            <td>
                                <button class="btn btn-xs btn-success" title="电源">
                                    <i class="glyphicon glyphicon-off"></i>
                                </button>
                                <button class="btn btn-xs btn-warning" title="设置IP">
                                    <i class="glyphicon glyphicon-cloud"></i>
                                </button>
                                <button class="btn btn-xs btn-info" title="重启">
                                    <i class="glyphicon glyphicon-refresh"></i>
                                </button>
                                <button class="btn btn-xs btn-danger" title="删除">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                                <button class="btn btn-xs btn-default" title="详细">
                                    <i class="glyphicon glyphicon-list"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        // html中直接导入数据
        $('#treeview_demo1').kendoTreeView();

        function containers_get(ip) {
            // JS 字符串格式化
            String.prototype.format = function(args) {
                var result = this;
                if (arguments.length > 0) {
                    if (arguments.length == 1 && typeof (args) == "object") {
                        for (var key in args) {
                            if(args[key]!=undefined){
                                var reg = new RegExp("({" + key + "})", "g");
                                result = result.replace(reg, args[key]);
                            }
                        }
                    }
                    else {
                        for (var i = 0; i < arguments.length; i++) {
                            if (arguments[i] != undefined) {
                                var reg= new RegExp("({)" + i + "(})", "g");
                                result = result.replace(reg, arguments[i]);
                            }
                        }
                    }
                }
                return result;
            };

            $.ajax({
                url : '/dockers.html',
                type: 'POST',
                dataType: 'JSON',
                traditional: true,
                data: {'ip': ip},
                success: function (response) {
                    var id = response.data.length;
                    var action = "<button class='btn btn-xs btn-success' title='电源'>" +
                        "<i class='glyphicon glyphicon-off'></i></button> " +
                        "<button class='btn btn-xs btn-warning' title='设置IP'><i class='glyphicon glyphicon-cloud'></i>" +
                        "</button> <button class='btn btn-xs btn-info' title='重启'><i class='glyphicon glyphicon-refresh'></i></button>" +
                        " <button class='btn btn-xs btn-danger' title='删除'><i class='glyphicon glyphicon-remove'></i>" +
                        "</button> <button class='btn btn-xs btn-default' title='详细'><i class='glyphicon glyphicon-list'></i>" +
                        "</button>";
                        if(response.data){
                            for(var i=0;i<response.data.length;i++){
                                var id = response.data[i].Id;
                                var name = response.data[i].Names;
                                var ip = response.data[i].NewIp;
                                var image = response.data[i].Image;
                                var status = response.data[i].Status;
                                var state = response.data[i].State;
                                if(state=='running'){
                                    var str_status = "<td><span class='label label-success'>running</span></td>"
                                }else {
                                    var str_status = "<td><span class='label label-default'>exited</span></td>"
                                }
                                var str = "<tr><td>{0}</td><td>{1}</td><td>{2}</td>".format(i, id, name) +
                                    "<td>{0}</td><td>{1}</td><td>{2}</td>".format(ip, image, status) + str_status +
                                    "<td>" + action + "</td>{0}</tr>";
                                $('#add_data').append(str)
                    }
                    }else {
                        $('#add_error_02').text(data.message)
                    }
                }
            })
        }
    </script>
{% endblock %}