<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/backend.css"/>
    <link rel="stylesheet" href="/static/css/commons.css"/>
{#    <link rel="stylesheet" href="/static/css/bootstrap-select.css"/>#}

{#    <link href="/static/css/ui-dialog.css" rel="stylesheet">#}
{#    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/artDialog-6.0.4/css/ui-dialog.css" rel="stylesheet">#}


    <!-- 当前项目样式文件 -->
    <link href="/static/css/sb-admin.css" rel="stylesheet">
    <link href="/static/css/sb-bk-theme.css" rel="stylesheet">
    <link href="/static/css/bk.css" rel="stylesheet">
    <link href="/static/css/kendo.default.min.css" rel="stylesheet">
    <link href="/static/css/kendo.common.min.css" rel="stylesheet">

    <link href="/static/css/bk.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap-select.css"/>
    <link href="/static/css/simple-line-icons.css">
    <link href="/static/css/style.css">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/jquery.sumoselect-2.0.0/sumoselect.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/icheck-1.x/skins/all.css" rel="stylesheet">
    <link href="/static/css/blue.css" rel="stylesheet">
    <link href="/static/css/toastr.min.css" rel="stylesheet">
    <link href="/static/css/opentip.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/artDialog-6.0.4/css/ui-dialog.css" rel="stylesheet">

    <style type="text/css">
        .self:hover{
            color: yellow;
            cursor:pointer
            }
        .self-nocolor:hover{
            cursor:pointer
            }
        @media (min-width: 768px) {
          .modal-dialog {
              width: 800px;
              margin: 30px auto
          }}


    </style>

</head>
<body>
<div class="pg-header">
    {% include 'include/header_menu.html' %}
</div>
<div class="pg-body">
    <div class="menu">
        <a id="menu_asset" class="menu-item" href="/task_virtual.html">
            <i class="fa fa-vimeo" aria-hidden="true"></i>
            <span>KVM</span>
        </a>
        <a id="menu_docker" class="menu-item" href="/docker_index.html">
            <i class="fa fa-mixcloud" aria-hidden="true"></i>
            <span>Docker</span>
        </a>
        <a id="menu_server" class="menu-item" href="/server_install.html">
            <i class="fa fa-server" aria-hidden="true"></i>
            <span>物理机</span>
        </a>
        <a class="menu-item" href="#">
            <i class="fa fa-desktop" aria-hidden="true"></i>
            <span>日志管理</span>
        </a>

    </div>

    <div class="content">
<div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <!-- /.row -->

                <div class="row data-panel">
                    <div class="col-lg-3 col-md-6">
                        <div class="king-widget2">
                            <div class="king-widget-content p20 bg-info" onclick="server_show()">
                                <div class="king-counter king-counter-lg self">
                                    <div class="king-counter-label text-uppercase f16">DOCKER</div>
                                    <div class="king-counter-number-group">
                                        <span class="king-counter-number white" id="total_node_num">0</span>
                                        <span class="king-counter-icon ml10 white">
                                            <i class="fa fa-server"></i>
                                        </span>
                                    </div>
                                    <div class="king-counter-label text-uppercase f16">物理节点</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="king-widget2">
                            <div class="king-widget-content p20 bg-info">
                                <a href="/dockers.html" style="text-decoration: none; color: white">
                                    <div class="king-counter king-counter-lg self">
                                        <div class="king-counter-label text-uppercase f16">DOCKER</div>
                                        <div class="king-counter-number-group">
                                            <span class="king-counter-number white" id="total_dockers">0</span>
                                            <span class="king-counter-icon ml10 white">
                                                <i class="fa fa-cubes"></i>
                                            </span>
                                        </div>
                                        <div class="king-counter-label text-uppercase f16">总容器数量</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="king-widget2">
                            <div class="king-widget-content p20 bg-info">
                                <div class="king-counter king-counter-lg self">
                                    <div class="king-counter-label text-uppercase f16">DOCKER</div>
                                    <div class="king-counter-number-group">
                                        <span class="king-counter-number white" id="run_dockers">0</span>
                                        <span class="king-counter-icon ml10 white">
                                        <i class="fa fa-ship"></i>
                                    </span>
                                    </div>
                                    <div class="king-counter-label text-uppercase f16">运行中数量</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="king-widget2">
                            <div class="king-widget-content p20 bg-success" onclick="add_container()">
                                <div class="king-counter king-counter-lg self-nocolor">
                                    <div class="king-counter-label text-uppercase f16">DOCKER</div>
                                    <div class="king-counter-number-group">
                                        <span class="king-counter-number-related white">+</span>
                                    </div>
                                    <div class="king-counter-label text-uppercase f16">新建容器</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row charts">
                    <div class="col-md-6">
                        <div class="king-block king-block-bordered mb30">
                            <div class="king-block-header">
                                <h3 class="king-block-title">数据</h3>
                            </div>
                            <div class="king-block-content">
                                <div class="chart" id="chartA"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="king-block king-block-bordered mb30">
                            <div class="king-block-header">
                                <h3 class="king-block-title">数据</h3>
                            </div>
                            <div class="king-block-content">
                                <div class="chart" id="chartC"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="king-block king-block-bordered mb30">
                            <div class="king-block-header">
                                <h3 class="king-block-title">数据</h3>
                            </div>
                            <div class="king-block-content">
                                <div class="chart" id="chartB"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="king-block king-block-bordered mb30">
                            <div class="king-block-header">
                                <h3 class="king-block-title">数据</h3>
                            </div>
                            <div class="king-block-content">
                                <div class="chart" id="chartD"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

<ul id="treeview_demo1" class="treeview_demo">
    <li data-expanded="true">
        Root node
        <ul>
            <li>Child node 1
                <ul>
                    <li>
                        <input type="checkbox">Child node a</li>
                    <li>
                        <input type="checkbox">Child node b</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

        {% block conent %} {% endblock %}
    <!-- 添加节点开始 -->
    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content" style="border-radius: 0px">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">创建容器</h4>
              </div>
              <form id="form1">
              <div class="modal-body">
                  <div class="form-group">
                    <div id="table4_demo3" class="mb30 demo"></div>
                  </div>
              </div>
              <div class="modal-footer">
                  <span id="error_message" style="color: red;"></span>
                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                  <button id="save_node" type="button" class="btn btn-primary">保存</button>
              </div>
            </form>
            </div>
          </div>
        </div>
    <!-- 添加节点结束 -->

    <!-- 添加容器开始 -->
    <div class="modal fade" id="myModal01" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
          <div class="modal-dialog" role="document" style="width: 1200px">
            <div class="modal-content" style="border-radius: 0px">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">欢迎创建容器</h4>
              </div>
              <form id="form1">
              <div class="modal-body">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-md-6" style="margin-bottom: 20px">
                            <img src="/static/imgs/docker-01.png" alt="">
                          </div>
                          <div class="col-md-6">
                              <div class="container">
                                    <div class="row">
                                        <div class="king-pearls">
                                            <div class="king-pearl current col-xs-2" id="start_1" style="cursor: pointer;">
                                                <span class="king-pearl-number">1</span>
                                                <span class="king-pearl-title">选择容器节点</span>
                                            </div>
                                            <div class="king-pearl col-xs-2" id="start_2">
                                                <span class="king-pearl-number">2</span>
                                                <span class="king-pearl-title">选择容器配置</span>
                                            </div>
                                            <div class="king-pearl col-xs-2" id="start_3">
                                                <span class="king-pearl-number">3</span>
                                                <span class="king-pearl-title">完成创建</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="color: white">n</div>

                                    <!-- 步骤1 -->
                                    <div class="" id="dome1" style="width: 570px">
                                        <ul class="ul-box">
                                            {% for item in data %}
                                                <div class="" style="width: 100px; height: 100px; display: inline-block">
                                                    <label>
                                                        <a href="#" class="thumbnail">
                                                          <img src="/static/imgs/docker-02.png" alt="...">
                                                            <p style="margin-left: 0px;width: 90px">{{ item.ip }}</p>
                                                            <input tabindex="3" type="radio" id="input-3" name="demo-radio" value={{ item.ip }}>
                                                        </a>
                                                    </label>
                                                  </div>
                                            {% endfor %}

                                        </ul>

                                        <div style="margin-top: 50px; margin-left: 40px; width: 300px; height: 100px;">
                                            <img class="hide" id="loading_1" src="/static/imgs/reload_24.gif">
                                            <div class="hide" id="show_image">
                                                   <h5>选择镜像</h5>
                                                <div class="row">
                                                    <div class="col-xs-10">
                                                        <div class="form-group">
                                                            <select class="selectpicker form-control" id="recipient-name" style="width: 300px" data-style="btn-primary">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="margin-left: 410px; margin-top: 100px;">
                                              <a id="next_2" class="king-btn-demo king-btn king-radius king-primary" style="background-color: rgb(68, 219, 154); border-color:rgb(68, 219, 154);" title="搜索">
                                                下一步 <i class="fa fa-angle-double-right"></i>
                                              </a>
                                        </div>

                                    </div>

                                    <!-- 步骤2 -->
                                    <div class="hide" id="dome2" style="width: 600px; height: 400px;">
                                    <div class="container-fluid">
                                        <form class="form-horizontal mt15" id="user_form" action="#">
{#                                            <div class="form-group">#}
{#                                                <label class="col-sm-2 control-label">容器名：</label>#}
{#                                                <div class="col-sm-10">#}
{#                                                    <input type="text" class="form-control" placeholder="不填写则自动命名" id="container_name" name="user_account">#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <label class="col-sm-2 control-label" style="margin-top: 6px">主机名：</label>#}
{#                                                <div class="col-sm-10" style="margin-top: 6px">#}
{#                                                    <input type="text" class="form-control" placeholder="请填写主机名" id="user_account" name="user_account">#}
{#                                                    <span class="king-required-tip text-danger ml5">*</span>#}
{#                                                </div>#}
{#                                            </div>#}
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" style="margin-top: 6px">IP地址：</label>
                                                <div class="col-sm-10" style="margin-top: 6px">
                                                    <input type="text" class="form-control" placeholder="不填写则自动获取" id="container_ip" name="user_account">
                                                </div>
                                            </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" style="margin-top: 6px">CPU：</label>
                                        <div class="col-sm-10" style="margin-top: 6px">
                                            <select class="form-control" id="container_cpu" name="user_role">
                                                <option value="1">1核</option>
                                                <option value="2">2核</option>
                                                <option value="4">4核</option>
                                                <option value="8">8核</option>
                                                <option value="16">16核</option>
                                                <option value="32">32核</option>
                                            </select>
                                            <span class="king-required-tip text-danger ml5">*</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" style="margin-top: 6px">内存：</label>
                                        <div class="col-sm-10" style="margin-top: 6px">
                                            <select class="form-control" id="container_memory" name="user_role">
                                                <option value="1">1G</option>
                                                <option value="2">2G</option>
                                                <option value="4">4G</option>
                                                <option value="8">8G</option>
                                                <option value="16">16G</option>
                                                <option value="32">32G</option>
                                            </select>
                                            <span class="king-required-tip text-danger ml5">*</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" style="margin-top: 6px">环境:</label>
                                        <div class="col-sm-10" style="margin-top: 6px">
                                            <select class="form-control" id="container_env" name="user_role">
                                                <option value="0">选择运行环境</option>
                                                {% for item in business_1 %}
                                                    <option value={{ item.name }}>{{ item.name }}</option>
                                                {% endfor %}
                                            </select>
                                            <span class="king-required-tip text-danger ml5">*</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" style="margin-top: 6px">业务线:</label>
                                        <div class="col-sm-10" style="margin-top: 6px">
                                            <select class="form-control" id="container_business" name="user_role">
                                                <option value="0">选择关联业务线</option>
                                                {% for item in business_2 %}
                                                    <option value={{ item.name }}>{{ item.name }}</option>
                                                {% endfor %}
                                            </select>
                                            <span class="king-required-tip text-danger ml5">*</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" style="margin-top: 6px">挂载：</label>
                                        <div class="col-sm-10" style="margin-top: 6px">
                                            <input type="text" class="form-control" placeholder="/opt/webapps/" id="container_app_name" name="user_account">
                                        </div>
                                        <a style="display: inline-block;;font-size: 5px; margin-left: 111px; color: grey;opacity:0.5;"><i style="color: red" class="fa fa-info-circle" aria-hidden="true"></i> 容器启动时将会自动挂载宿主机该目录.</a>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" style="margin-top: -11px">电子邮件:</label>
                                        <div class="col-sm-10" style="margin-top: -11px">
                                            <input type="text" class="form-control" placeholder="通知邮件地址" id="user_email" name="user_email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" style="margin-top: 6px">说明：</label>
                                        <div class="col-sm-10" style="margin-top: 6px">
                                            <textarea id="docker_info" class="form-control" style="height:80px;" placeholder="容器功能说明"></textarea>
                                        </div>
                                    </div>
                                </form>
                                    </div>

                                        <div style="width: 450px; height: 30px; margin-left: 123px; margin-top: 20px;">
                                            <div style="display: inline-block; width: 285px; margin-top: -10px; border: 1px white solid">
                                                <div class="hide king-notice2 king-notice-danger notice-borders" id="error_div">
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                    <div class="notice-text">
                                                        <p id="error_text">错误的提示文案</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div style="margin-top: 10px; width: 20px; display: inline-block; border: 1px white solid">
                                                <div class="hide" id="loadding_2">
                                                    <img alt="loadding" src="/static/imgs/balls_24.gif">
                                                </div>
                                            </div>

                                                <div style="display: inline-block">
                                                  <a id="next_3" class="king-btn-demo king-btn king-radius king-primary" style="background-color: rgb(68, 219, 154); border-color:rgb(68, 219, 154);" title="搜索">
                                                    下一步 <i class="fa fa-angle-double-right"></i>
                                                  </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 步骤2结束 -->

                                    <!-- 步骤3开始 -->
                                    <div class="hide" id="dome3" style="width: 485px; height: 400px; margin-left: 50px;">
                                        <div class="panel panel-default">
{#                                            <div class="panel-heading">#}
{#                                                <h3 class="panel-title">任务面板</h3>#}
{#                                            </div>#}
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <span class="badge king-info" id="confirm_node">192.168.38.56</span>
                                                    <i class="fa fa-cubes"></i><a style="color: black">容器节点</a>
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="badge king-warning" id="confirm_image">centos7_tomcat7_jdk_8</span>
                                                    <i class="fa fa-hdd-o"></i><a style="color: black">容器镜像</a>
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="badge king-danger" id="confirm_container_name">test01</span>
                                                    <i class="fa fa-twitch"></i><a style="color: black">容器名称</a>
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="badge king-primary" id="confirm_container_ip">192.168.38.211</span>
                                                    <i class="fa fa-empire"></i><a style="color: black">容器IP</a>
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="badge king-success" id="confirm_cpu">1G</span>
                                                    <i class="fa fa-microchip"></i><a style="color: black">CPU</a>
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="badge" id="confirm_memory">2G</span>
                                                    <i class="fa fa-microchip"></i> <a style="color: black">内存</a>
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="badge" id="confirm_business">webapp</span>
                                                    <i class="fa fa-heart"></i><a style="color: black">关联业务线</a>
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="badge king-danger" id="confirm_mount_in">/opt/docker/war/app/</span>
                                                    <span class="badge king-danger" id="confirm_mount_out">/data/</span>
                                                    <i class="fa fa-tasks"></i><a style="color: black">挂载</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-block">
                                            <button id="plugin4_demo10" type="button" style="background-color: rgb(68, 219, 154); border-color:rgb(68, 219, 154);" class="btn btn-primary btn-lg btn-block">开始创建</button>
                                        </div>
                                    </div>

                                    <!-- 步骤3开始 -->

                                </div>
                          </div>
                      </div>
                  </div>
              </div>
{#              <div class="modal-footer">#}
{#                  <span id="error_message" style="color: red;"></span>#}
{#                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>#}
{#                  <button id="save_node" type="button" class="btn btn-primary">保存</button>#}
{#              </div>#}
            </form>
            </div>
          </div>
        </div>
    <!-- 添加容器结束 -->

    </div>
</div>
</div>
    <script type="text/javascript" src="/static/js/jquery-1.12.4.js"></script>
{#    <script src="/static/js/jquery-1.10.2.min.js"></script>#}

    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>

	<!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/nb-list.js"></script>

    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="/static/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/bk/js/bk.js"></script>
    <script src="/static/js/jquery.sumoselect.min.js"></script>
    <script src="/static/js/icheck.min.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>
    <script src="/static/js/toastr.min.js"></script>
    <script src="/static/js/opentip-jquery.min.js"></script>
    <script src="/static/js/dialog-min.js"></script>


    <script type="text/javascript">
        $(function () {
           $.ajax({
                url : '/docker_index.html',
                type: 'GET',
                dataType: 'JSON',
                traditional: true,
                data: {'get_count': 111 },
                success: function (response) {
                        if(response.status){
                            console.log(response.data['total_dockers']);
                            $('#total_node_num').text(response.data['total_node']);
                            $('#total_dockers').text(response.data['total_dockers']);
                            $('#run_dockers').text(response.data['run_dockers']);
                    }else {
                    }
                }
                })
        });

        $("#plugin4_demo10").click(function(){
    			var d = dialog({
    				width: 440,
    				title: "提示",
    				content: '<div class="king-notice3 king-notice-wating">'+
        						'<span><img src="/static/imgs/notice3-icon.png"></img></span>'+
        						'<div class="king-notice-text">'+ '<br>' +
        							'<p class="f24">正在创建容器，请稍等...</p>'+
        						'</div>'+ '</div>'
    			});

    			var c = dialog({
    				width: 440,
    				title: "提示",
    				content: '<div class="king-notice3 king-notice-success">' +
                                '<span><img src="/static/imgs/notice4-icon.png"></img></span>' +
                                '<div class="king-notice-text">' +
                                    '<p class="f24">创建成功</p>' +
                                    '<p class="f12"><span class="king-notice3-color" id="refresh_time">3</span><span class="king-notice3-color">秒</span>后跳转至容器管理页面</p>' +
                                '</div></div>'
    			});
    			d.show();

                var create_node = $('input:radio[name="demo-radio"]:checked').val();
                var create_image = $('#recipient-name').selectpicker('val');
                var create_name = $('#confirm_container_name').text();
                var create_ip = $('#confirm_container_ip').text();
                var create_cpu = $('#container_cpu').val();
                var create_memory = $('#container_memory').val();
                var create_mount_in = $('#confirm_mount_in').text();
                var create_mount_out = $('#confirm_mount_out').text();
                var docker_info = $('#docker_info').val();
                var container_business = $('#container_business').val();
                var container_env = $('#container_env').val();

                console.log(create_node, create_image, create_name, create_ip, create_cpu, create_memory, create_mount_in, create_mount_out, docker_info);
    			$.ajax({
                    url : '/docker_index.html',
                    type: 'POST',
                    dataType: 'JSON',
                    traditional: true,
                    data: {'is_create': '1', 'create_node': create_node, 'create_image': create_image, 'create_name': create_name,
                           'create_ip': create_ip, 'create_cpu': create_cpu, 'create_memory': create_memory,
                           'create_mount_in': create_mount_in, 'create_mount_out': create_mount_out,
                           'docker_info': docker_info, 'create_business': container_business, 'create_env': container_env},
                    success: function (response) {
                            if(response.status){
                                d.close();
                                c.show();
                                delayURL();
                                function delayURL() {
                                    var delay = $('#refresh_time').text();
                                    var t = setTimeout(delayURL, 1000);
                                    if (delay > 0) {
                                        delay--;
                                        $('#refresh_time').text(delay);
                                    } else {
                                 clearTimeout(t);
                                        window.location.href = "/dockers.html";
                                    }
                                }
                        }else {
                        }
                    }
                })
    		});

        // 选择容器节点触发函数 选择镜像
        var events = ["ifClicked"];
        $.each(events, function (index, event) {
        $('#dome1 input').on(event, function (e) {
                var target = e.target;
                var docker_host_ip = $(target).val();
                $('#show_image').addClass('hide');
                $('#loading_1').removeClass('hide');
                $.ajax({
                    url : '/docker_index.html',
                    type: 'POST',
                    dataType: 'JSON',
                    traditional: true,
                    data: {'ip': docker_host_ip},
                    success: function (response) {
                            if(response.status){
                                $('#loading_1').addClass('hide');
                                if($('#show_image').hasClass('hide')){
                                    $('#show_image').removeClass('hide')
                                }
                                var data = response.data;
                                $.each(data, function (i) {
                                    $("<option value='" + data[i].RepoTags + "'>" + data[i].RepoTags + "</option>").appendTo(".selectpicker");
                                });
                                $('.selectpicker').selectpicker('refresh');
                        }else {
                                $('#loading_1').addClass('hide');
                                toastr['error']('<br>' + response.error,'error');
                        }
                    }
                    })
                });
        });

        $('#start_1').click(function () {
            if($('#dome1').hasClass('hide')){
                $('#dome1').removeClass('hide');
                $('#dome2').addClass('hide');
                $('#start_1').removeClass('done');
                $('#start_1').addClass('current');
                $('#start_2').removeClass('current');
                $('#start_2').removeClass('done');
                $('#start_3').removeClass('current');
                $('#dome3').addClass('hide');
            }else {
            }
        });

        $('#start_2').click(function () {
            if(!$('#dome1').hasClass('hide')){
                return false;
            }
            if(!$('#dome3').hasClass('hide')){
                $('#dome3').addClass('hide');
                $('#dome2').removeClass('hide')
            }
        });

        $('#next_2').click(function () {
            var val=$('input:radio[name="demo-radio"]:checked').val();
            if(val==null){
                toastr['info']('<br>' + '请选择一个节点服务器..','info');
            }else {
                $('#dome1').addClass('hide');
                $('#dome2').removeClass('hide');
                $('#start_1').removeClass('current');
                $('#start_1').addClass('done');
                $('#start_2').addClass('current');
            }
        });

        $('#next_3').click(function () {
            var container_name = '';
            var ip=$('input:radio[name="demo-radio"]:checked').val();
            var container_ip = $('#container_ip').val();
            var container_business = $('#container_business').val();
            var container_env = $('#container_env').val();
            var container_app_name = $('#container_app_name').val();
            if(container_ip==''){
                container_ip = 'auto';
            }else {
                var reg =  /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/;
                var ret = reg.test(container_ip);
                if(!ret){
                    $('#error_div').removeClass('hide');
                    $('#error_text').text('IP地址格式有误!');
                    return false;
                }
                // 检测新IP地址是否和宿主机在同一个网段
                if(container_ip.split('.')[2]!=ip.split('.')[2]){
                    $('#error_div').removeClass('hide');
                    $('#error_text').text('容器IP地址需保持和宿主机在同一网段!');
                    return false;
                }
            }
            if(container_env==0){
                $('#error_div').removeClass('hide');
                $('#error_text').text('请选择容器运行环境!');
                return false;
            }
            if(container_business==0){
                $('#error_div').removeClass('hide');
                $('#error_text').text('请选择容器关联业务!');
                return false;
            }

            if(container_name==''){
                container_name = 'auto';
            }
            // 检索容器名称是否重复
            $('#loadding_2').removeClass('hide');

            $.ajax({
                url: '/docker_index.html',
                type: 'POST',
                dataType: 'JSON',
                traditional: true,
                data: {'check_container_name': container_name, 'ip': ip, 'container_ip': container_ip, 'container_env': container_env,
                       'container_business': container_business, 'container_app_name': container_app_name},
                success: function (response) {
                    $('#loadding_2').addClass('hide');
                    if (response.status) {
                        $('#error_div').addClass('hide');
                        $('#dome2').addClass('hide');
                        $('#dome3').removeClass('hide');
                        $('#start_2').removeClass('current');
                        $('#start_2').addClass('done');
                        $('#start_3').addClass('current');

                        $('#confirm_node').text($('input:radio[name="demo-radio"]:checked').val());
                        $('#confirm_image').text($('#recipient-name').selectpicker('val'));
                        $('#confirm_container_name').text(response.data[3]);
                        if(container_ip!='auto'){
                            $('#confirm_container_ip').text(container_ip);
                        }else {
                            $('#confirm_container_ip').text(response.data[0]);
                        }
                        $('#confirm_cpu').text($('#container_cpu').val()+'核');
                        $('#confirm_memory').text($('#container_memory').val()+'G');
                        if(container_business==0){
                            $('#confirm_business').text('无');
                        }else {
                            $('#confirm_business').text($('#container_business').val());
                        }
                        if(container_business=='no'&&container_app_name=='no'){
                            $('#confirm_mount_in').text('');
                            $('#confirm_mount_out').text('无');
                        }else {
                            $('#confirm_mount_in').text(response.data[1]);
                            $('#confirm_mount_out').text(response.data[2]);
                        }
                    } else {
                        $('#error_div').removeClass('hide');
                        $('#error_text').text(response.error)
                    }
                }
            })

        });

        $('#dome1 input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue'
        });
            $('#treeview_demo1').kendoTreeView();
        $(document).ready(function() {
            $.initMenu('#menu_docker');
            $.nbDataList('/users.html', 1);

            $('#chartA').kendoChart({
               seriesDefaults: {
                    type: 'line'
                },
                legend:{
                    position : "bottom"
                },
                theme : 'bootstrap',
                tooltip:{
                    visible:true,
                    template:"#= series.name # #= value #"
                },
                categoryAxis: {
                    categories: ['07-20','07-21','07-22','07-23','07-24','07-25','07-26'],
                    majorGridLines: {
                        visible: false
                    }
                },
                series: [{
                    name: "test3_web",
                    data: [0, 2, 4, 5, 0, 1, 0]
                }, {
                    name: "test3_front",
                    data: [0, 1, 0, 0, 2, 0, 0]
                }, {
                    name: "test3_mobile",
                    data: [4, 0, 2, 1, 5, 0, 1]
                }]
            });

            $('#chartB').kendoChart({
                legend:{
                    position : "bottom"
                },
                theme : 'bootstrap',
                seriesDefaults:{
                    type:'area',
                    area: {
                        line: {
                            style: "smooth"
                        }
                    }
                },
                categoryAxis:{
                    categories : ['周一','周二','周三','周四','周五','周六','周日'],
                    majorGridLines: {
                        visible: false
                    }
                },
                series: [{
                    name:'节点一',
                    data:[10, 12, 21, 54, 260, 830, 710]
                },
                {
                    name:'节点二',
                    data:[30, 182, 434, 791, 390, 30, 10]
                },
                {
                    name:'节点三',
                    data:[1320, 1132, 601, 234, 120, 90, 20]
                }]
            });

            $('#chartC').kendoChart({
                legend:{
                    position : "bottom"
                },
                theme : 'bootstrap',
                seriesDefaults: {
                    labels: {
                        template: "#= category # - #= kendo.format('{0:P}', percentage)#",
                        position: "outsideEnd",
                        visible: true,
                        background: "transparent"
                    }
                },
                series: [{
                    name: '访问来源',
                    type: 'pie',
                    data: [{
                        category:'节点一',
                        value:335
                    },
                    {
                        value: 310,
                        category: '节点二'
                    },
                    {
                        value: 234,
                        category: '节点三'
                    },
                    {
                        value: 135,
                        category: '节点四'
                    },
                    {
                        value: 1548,
                        category: '节点五'
                    }]
                }]
            });

            $('#chartD').kendoChart({
                seriesDefaults: {
                    type: 'column'
                },
                legend:{
                    position : "bottom"
                },
                theme : 'bootstrap',
                tooltip: {
                    visible: true,
                },
                categoryAxis: {
                    categories: [ 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ],
                    majorGridLines: {
                        visible: false
                    }
                },
                series: [{
                    name: '测试数据1',
                    data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
                }, {
                    name: '测试数据2',
                    data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]
                }, {
                    name: '测试数据4',
                    data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]
                }, {
                    name: '测试数据5',
                    data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1]
                }]
            });
        });

        //重新绘制
        $(window).on('resize',function(){
            var chartA = $("#chartA").data("kendoChart");
            var chartB = $("#chartB").data("kendoChart");
            var chartC = $("#chartC").data("kendoChart");
            var chartD = $("#chartD").data("kendoChart");

            chartA.redraw();
            chartB.redraw();
            chartC.redraw();
            chartD.redraw();
        });

{#        var data = [#}
{#        { ip: "192.168.1.1", time: '2017-11-16' },#}
{#        { ip: "192.168.1.2", time: '2017-11-16' }#}
{#        ];#}

        function add_container() {
            $('#myModal01').modal({backdrop: 'static', keyboard: false});
        }

    function server_show() {
        $('#myModal').modal({backdrop: 'static', keyboard: false});
    }

        var dataSource = new kendo.data.DataSource({//数据源配置项
            offlineStorage: "offline-kendo-demo",
            transport: {
                read: {
                    url: "/docker_index_node.html",
                    type: "get",
                    dataType: "json"
                },
{#                update: {#}
{#                url: "/docker_index_node.html",#}
{#                dataType: "json",#}
{#                contentType:"application/x-www-form-urlencoded",#}
{#                type : "post",#}
{#                    data: '123'#}
{#                data: function() {#}
{#                    var roleid = $("#roleId").val();#}
{#                    return {#}
{#                     roleId:roleid#}
{#                    }#}
{#                  }#}
{#            },#}
{#                update: {#}
{#                    url: "/docker_index_node.html",#}
{#                    type: "post"#}
{#                }#}
            },
            schema: {
                data: "data",
{#                total: "itemCount"#}
            }
        });
{#        dataSource.online(false);#}
        //表格(Kendo UI)-3，可编辑表格
        $('#table4_demo3').kendoGrid({
            height: 250, //设置高度，超过显示滚动条
            pageable: false, //隐藏分页
            editable: 'inline',
            toolbar: [
                {
                   template:  '<div class="clearfix pt5 pb5 pr15">'+
                              '<div class="pull-right"><button class="king-btn king-info add-user">新增节点</button></div>'+
                              '</div>'
                }
            ],
            dataSource: dataSource,
            columns: [
                {
                    field: 'ip',
                    title: 'IP',
{#                    width: 200#}
                },
                {
                    field: 'time',
                    title: '创建时间'
                },
{#                {#}
{#                    title: '操作',#}
{#                    width: 160,#}
{#                    command: ['edit', 'destroy']#}
{#                }#}
            ],
{#            save: function (e) {#}
{#                dataSource.sync();#}
{#                for (var i=0;i<this._data.length;i++){#}
{#                console.log(this._data[i]['ip'])#}
{#            }}#}
{#                console.log(this)}#}
        });

        var grid3 = $('#table4_demo3').data('kendoGrid');
        $('#table4_demo3').on('click','.add-user',function(){
            grid3.addRow(); //插件编辑行
            return false;
        });

{#        $('#save_node').click(function () {#}
{#            var data = grid3.dataSource.at();#}
{#            console.log(data['ip'])#}
{#        })#}


    </script>
</body>
</html>