<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/commons.css"/>
    <link rel="stylesheet" href="/static/css/backend.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
</head>
<body>
<div class="pg-header">
    {% include "include/header.html" %}
</div>
<div class="pg-body">
    <div class="row" style="margin: 40px 60px;">
        <div class="col-lg-3 col-sm-4 col-xs-6">
            <div class="info-box default-bg">
                <i class="fa fa-desktop"></i>
                <a class="count" href="cmdb.html">资产</a>

                <div class="title">CMDB</div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-4 col-xs-6">
            <div class="info-box task-bg">
                <i class="fa fa-tasks"></i>

                <a class="count" href="/docker_index.html">装机</a>
                <div class="title">Task</div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-4 col-xs-6">
            <div class="info-box twitter-bg">
                <i class="fa fa-connectdevelop"></i>

                <a class="count" href="/authorize.html">堡垒机</a>
                <div class="title">Bastion</div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-4 col-xs-6">
            <div class="info-box dns-bg">
                <i class="fa fa-user-o"></i>
                <a class="count" href="/user.html">用户管理</a>
                <div class="title">User Manage</div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-4 col-xs-6">
            <div class="info-box flow-bg">
                <i class="fa fa-recycle"></i>
                <a class="count" href="/project_list.html">发布</a>

                <div class="title">publisher</div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-4 col-xs-6">
            <div class="info-box blue-bg">
                <i class="fa fa-cog"></i>
                <a class="count" href="#">配管</a>

                <div class="title">configuration</div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-4 col-xs-6">
            <div class="info-box gray-bg">
                <i class="fa fa-plus"></i>

                <div class="count">添加</div>
                <div class="title">ADD</div>
            </div>

        </div>

    </div>
</div>
    <script type="text/javascript" src="/static/js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/nb-list.js"></script>


    <script>
        $(function () {
            $.initMenu('#menu_user_profile');
            $.nbDataList('/business_1s.html', '1');
        });

    </script>
</body>
</html>