{% extends 'layout/_laytask.html' %}

{% block css %}
    <link href="/static/css/bootstrap-switch.css" rel="stylesheet">
{#    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css">#}
{% endblock %}

{% block conent %}
    <ol class="breadcrumb" style="margin-bottom: 0;">
        <li><a href="/task.html">首页</a></li>
        <li class="active">虚拟机装机</li>
    </ol>

    <div style="padding: 5px 8px;">

        <!-- 添加主机确定模态对话框 -->
        <div id="add_machine" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">新建虚机</h4>
                    </div>
                    <div class="modal-body">
                        宿主机：<a id="confirm_host"></a>
                        </br>
                        IP地址：<a id="confirm_ip"></a>
                        </br>
                        核心数：<a id="confirm_cpu_num"></a>
                        </br>
                        内存 ：<a id="confirm_memory_num"></a>
                        </br>
                        系统配置：<a id="confirm_type"></a>
                        </br>
                        <p>确认添加该虚拟机吗？</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button id="add_confirm" type="button" class="btn btn-primary">确定</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 确认删除虚拟机 -->
        <div id="del_machine" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">删除虚拟机</h4>
                    </div>
                    <div class="modal-body">
                        <p>虚拟机文件将会被删除！</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button id="del_confirm" type="button" class="btn btn-primary">确定</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 自定义模版 -->
        <div id="template_name" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">自定义镜像</h4>
                    </div>
                    <div class="form-group">
                        <input id="change_iid" type="text" class="form-control" style="display: none">
                    </div>
                    <div class="form-group">
                        <input id="mirror_name" type="text" class="form-control" placeholder="镜像名称" style="width: 298px;margin-bottom: -15px;margin-top: -15px">
                    </div>
                    <br>
                    <div class="form-group">
                        <input id="mirror_ip" type="text" class="form-control" placeholder="镜像IP" style="width: 298px;margin-bottom: -15px;margin-top: -15px">
                    </div>
                    <a id="change_error" style="color: red;font-size: 0.1px"></a>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button id="mirror_confirm" type="button" class="btn btn-primary">确定</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="connect_info" class="alert alert-info" role="alert" style="margin-bottom: 15px;">
            <button class="close" type="button" data-dismiss="alert">&times;</button>
            确认宿主机开启 镜像模版文件存放在/opt/mvs/目录！</div>

        <div id="connect_failed" class="alert alert-danger alert-dismissable" role="alert">
            <button class="close" type="button" data-dismiss="alert">&times;</button>
            宿主机连接失败！请确认已在目标宿主机增加SSH_key公钥验证...
        </div>

        <div>
            <div style="width: 800px; float: left">
                <div class="form-group" style="display: inline-block; width: 233px">
                    <select class="selectpicker" id="recipient-name3">
                          {% for item in host_list %}
                              <option value={{ item.host_machines_ip }}>{{ item.host_machines_ip }}</option>
                          {% endfor %}
                    </select>
                </div>

                <div class="form-group" style="display: inline-block;" onchange="turn_off()">
                    <select class="selectpicker" id="recipient-name4">
                          {% for item in machine_type %}
                              <option id="recipient-name4" value={{ item.id }}>{{ item.machine_type }}</option>
                          {% endfor %}
                    </select>
                </div>
                <input id="switch-state" type="checkbox" name="my-checkbox">
                <button style="display: none" type="button" data-switch-set="state" data-switch-value="false" class="btn btn-default">Toggle</button>
    {#            <br>#}
                <button style="display: inline" id="virtual_add" type="button" class="btn btn-info" onclick="host_info()">宿主机信息</button>

                <div class="form-group" style="width: 150px; display: inline-block">
                    <input id="host_ip" type="email" class="form-control" placeholder="IP地址">
                </div>

                <div class="form-group" style="width: 150px; display: inline-block">
                    <input id="host_cpu" type="email" class="form-control" placeholder="CPU核心数">
                </div>

                <div class="form-group" style="width: 150px; display: inline-block">
                    <input id="host_memory" type="email" class="form-control" placeholder="内存／G">
                </div>

                <button style="display: inline; width: 200px" id="virtual_add" type="button" class="btn btn-success" onclick="add_host()">新增虚机</button>
            </div>
                <div id="host_div" style="width: 500px; float: right; display: none;" class="alert alert-success" role="alert" style="margin-bottom: 15px;">
                <button  class="close" type="button" data-dismiss="alert">&times;</button>
                    <p id="host_info"></p>
                </div>
        </div>

        <table class="table table-striped table-bordered" id="table">
                <tr>
                    <td>序号</td>
                    <td>IP</td>
                    <td>主机名</td>
                    <td>CPU核心</td>
                    <td>内存</td>
                    <td>配置</td>
                    <td>宿主机</td>
                    <td>状态</td>
                    <td>操作</td>
                    <td>模版</td>
                    <td>时间</td>
                </tr>
            {% for item in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.host_ip }}</td>
                    <td>{{ item.host_name }}</td>
                    <td>{{ item.cpu_num }}核</td>
                    <td>{{ item.memory_num }}G</td>
                    <td>{{ item.machine_type }}</td>
{#                    <td>{{ item.get_host_item_display }}</td>#}
                    <td>{{ item.mudroom_host }}</td>
                    <td>
                        <div class="progress progress-striped" style="margin-bottom: 0px";>
	                        <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:100%">100%</div>
                        </div>
                    </td>
{#                    <td>#}
{#                        <div class="progress progress-striped" style="margin-bottom: 0px";>#}
{#                            <div class="progress-bar progress-bar-warning"  role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:100%; cursor: pointer;" onclick="host_manage({{ item.id }})">主机名</div>#}
{#                        </div>#}
{#                    </td>#}
                    <td>
                        <div class="progress progress-striped" style="margin-bottom: 0px";>
	                        <div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:100%; cursor: pointer" onclick="host_del({{ item.id }})">删除</div>
                        </div>
                    </td>
                    <td>
                        <div class="progress progress-striped" style="margin-bottom: 0px";>
	                        <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:100%; cursor: pointer" onclick="modify_template({{ item.id }})">定义模版</div>
                        </div>
                    </td>
                    <td>{{ item.ctime|date:"Y-m-d H:i:s" }}</td>
                </tr>
            {% endfor %}

        </table>

    <!-- cookie 自定义每页显示多少条数据 -->
{#    <div>#}
{#        <select id="ps" onchange="changePageSize(this);">#}
{#            <option value="10">10</option>#}
{#            <option value="30">30</option>#}
{#            <option value="50">50</option>#}
{#            <option value="100">100</option>#}
{#        </select>#}
{#    </div>#}
{#    <a id="pss">{{ page_init.per_page_count }}</a>#}

    <!-- 分页 -->
    <ul id="page_count" class="pagination pagination-sm" style="float: right">
        {{ page_str|safe }}
    </ul>

    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/nb-list.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-switch.js"></script>

    <script>

        $(function () {
    
            // 页面switch开关
            $("#switch-state").bootstrapSwitch();
            $('input[name="my-checkbox"]').on('switchChange.bootstrapSwitch', function(event, state) {
              // console.log(this); // DOM element
              // console.log(event); // jQuery event
              // console.log(state); // true | false
                var template_name = $('#recipient-name4 option:selected').text();
                var template_id = $('#recipient-name4').val();
                var template_status = state;


                if(state == true) {
                    $.ajax({
                    url: 'task_virtual.html',
                    type: 'POST',
                    data: {
                        'template_id': template_id,
                        'template_status': template_status
                    },
                    dataType: 'JSON',
                    success: function (data_dict) {
                        if (data_dict.status) {
                              $('#connect_info').removeClass('alert-info');
                              $('#connect_info').removeClass('alert-danger');
                              $('#connect_info').addClass('alert-warning');
                              $('#connect_info').addClass('alert-dismissable');
                            var str_ip = '模版机正在启动...1分钟后可登陆模版进行修改 ' + ' 【模版IP→ ' + data_dict['template_ip'] + '】';
                            $('#connect_info').text(str_ip);
                        }else {
                            $('#add_machine').modal('hide');
                            $('#connect_info').removeClass('alert-info');
                            $('#connect_info').addClass('alert-danger');
                            $('#connect_info').addClass('alert-dismissable');
                            $('#connect_info').text(data_dict.message);

                        }
                    }
                });
                }else if(state == false){
                    $.ajax({
                    url: 'task_virtual.html',
                    type: 'POST',
                    data: {
                        'template_id': template_id,
                        'template_status': template_status
                    },
                    dataType: 'JSON',
                    success: function (data_dict) {
                        if (data_dict.status) {
                            $('#connect_info').removeClass('alert-info');
                            $('#connect_info').addClass('alert-danger');
                            $('#connect_info').addClass('alert-dismissable');
                            $('#connect_info').text('模版机已关闭！');
                        }else {
                        }
                    }
                });
                }
            });

            $('[data-switch-set]').on('click', function () {
              var type;
              type = $(this).data('switch-set');
              $('#switch-' + type).bootstrapSwitch(type, $(this).data('switch-value'))
            });

            $('.activ').addClass('active');

            $('#connect_success').hide();
            $('#connect_failed').hide();
            $('#new_tr').hide();
            var v = $.cookie('mess');
            if (v==200){
                $('#connect_info').removeClass('alert-info');
                $('#connect_info').addClass('alert-success');
                $('#connect_info').addClass('alert-dismissable');
                $('#connect_info').text('虚机部署任务发布成功！');

                // 进度条选择显示列
                $("table tr:eq(1) td:eq(7)").children().children().attr('id', 'progress_show');
                setTimeout(function () {
                    var op = 0;
                    var tag = document.getElementById('progress_show');
                    tag.innerText='0';
                    var interval = setInterval(function () {
                        op += 1;
                        var a = op + '%';
                        tag.innerText = a;
                        document.getElementById('progress_show').style.width = a;
                        if(op>100){
                            clearInterval(interval);
                            tag.innerText = '100%';
                        }
                    }, 700);
                }, 700);

            }

            $.initMenu('#menu_asset');
            $.nbDataList('/assets.html');

            $('#add_confirm').click(function (){
                var v = $('#page_count').children(":last").prev().prev().prev().prev().children(":first").text();
                $.ajax({
                    url: 'task_virtual.html',
                    type: 'POST',
                    data: {
                        'host_machine': $('#recipient-name3').val(),
                        'new_host_ip': $('#host_ip').val(), 'machine_type': $('#recipient-name4').val(),
                        'cpu_num': $('#host_cpu').val(), 'memory_num': $('#host_memory').val()
                    },
                    dataType: 'JSON',
                    success: function (data_dict) {
                        if (data_dict.status) {
                            $('#connect_success').show();
                            $('#connect_failed').hide();
                            var url = 'virtual_list.html?p=' + v;
                            location.href=url
                        }else {
                            $('#add_machine').modal('hide');
                            $('#connect_info').removeClass('alert-info');
                            $('#connect_info').addClass('alert-danger');
                            $('#connect_info').addClass('alert-dismissable');
                            $('#connect_info').text(data_dict.message);

                        }
                    }
                });
            });

            $('#mirror_confirm').click(function () {
                var mirror_name = $('#mirror_name').val();
                var mirror_ip = $('#mirror_ip').val();
                if($('#mirror_name').val().length <1 || $('#mirror_ip').val().length<1){
                    $('#change_error').text('输入不能为空');
                    return false;
                }
                var reg =  /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/;
                if(reg.test(mirror_ip)==false){
                    $('#change_error').text('IP格式错误');
                    return false;
                }
                $.ajax({
                    url: 'task_virtual.html',
                    type: 'POST',
                    data: {
                        'new_id': $('#change_iid').val(),
                        'mirror_name': mirror_name,
                        'mirror_ip': mirror_ip
                    },
                    dataType: 'JSON',
                    success: function (data_dict) {
                        if (data_dict.status) {
                            alert('自定义镜像成功！请5分钟后再使用新镜像装机！');
                            location.reload()
                        }else {
                        }
                    }
                });
            })

        });

        // 获取宿主机信息
        function host_info() {
            if($('#host_div').hasClass("show")){
                $('#host_div').removeClass("show");
                $('#host_div').prop('style', 'width: 500px; float: right; display: none');
            }else{
                $('#host_div').prop('class', 'alert alert-success show');
                $('#host_div').prop('style', 'width: 500px; float: right;');
                var host = $('#recipient-name3').val();
                $.ajax({
                        url: 'task_virtual.html',
                        type: 'POST',
                        data: {
                            'host': host,
                        },
                        dataType: 'JSON',
                        success: function (data_dict) {
                            if (data_dict.status) {
                                var str = data_dict.data;
                                var s = str.toString(str);
                                var new_str = s.replace(/,/g, "<br>");
                                var new_str_1 = '【' + host + '】宿主机信息：<br>' + new_str ;
                                var new_str_memory = new_str_1 + '<br>【总内存】 64376 MB <br>【虚拟内存使用】 ' + data_dict.memory + 'MB';
                                var new_str_cpu = new_str_memory + '<br>【总cpu核数】64 核 <br>【虚拟cpu使用】 ' + data_dict.cpu + '核';
                                $('#host_info').html(new_str_cpu);
                            }else {
                                $('#host_info').html('未获取到数据...');
                            }
                        }
                    });
            }
        }

        // 自定义模版
        function modify_template(id) {
            $('#template_name').modal();
            $('#change_iid').val(id);
        }

        // 开启或关闭模版
        function turn_off() {
            $('#connect_info').removeClass('alert-warning');
            $('#connect_info').removeClass('alert-danger');
            $('#connect_info').addClass('alert-info');
            $('#connect_info').text('确认宿主机开启 镜像模版文件存放在/opt/mvs/目录！');
            $('[data-switch-set]').click();
        }

        // 新增主机
        function add_host() {
            if($('#host_ip').val().length<1){
                $('#connect_info').removeClass('alert-info');
                $('#connect_info').addClass('alert-danger');
                $('#connect_info').addClass('alert-dismissable');
                $('#connect_info').text('虚拟机IP不能为空！');
                return false;
            }

            var ip = $('#host_ip').val();
            var reg =  /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/;
            if(reg.test(ip)==false){
                $('#connect_info').removeClass('alert-info');
                $('#connect_info').addClass('alert-danger');
                $('#connect_info').addClass('alert-dismissable');
                $('#connect_info').text('IP地址格式错误！');
                return false;
            }

            if($('#host_cpu').val().length<1){
                $('#connect_info').removeClass('alert-info');
                $('#connect_info').addClass('alert-danger');
                $('#connect_info').addClass('alert-dismissable');
                $('#connect_info').text('核心数不能为空！');
                return false;
            }

            var cpu = $('#host_cpu').val();
            var cpu_reg = /^[0-9]*[1-9][0-9]*$/;
            if(cpu_reg.test(cpu)==false){
                $('#connect_info').removeClass('alert-info');
                $('#connect_info').addClass('alert-danger');
                $('#connect_info').addClass('alert-dismissable');
                $('#connect_info').text('核心数只能为正整数！');
                return false;
            }else if(cpu>24){
                $('#connect_info').removeClass('alert-info');
                $('#connect_info').addClass('alert-danger');
                $('#connect_info').addClass('alert-dismissable');
                $('#connect_info').text('核心数不能大于24！');
                return false;
            }

            var memory = $('#host_memory').val();
            var memory_reg = /^[0-9]*[1-9][0-9]*$/;
            if(memory_reg.test(memory)==false){
                $('#connect_info').removeClass('alert-info');
                $('#connect_info').addClass('alert-danger');
                $('#connect_info').addClass('alert-dismissable');
                $('#connect_info').text('内存数请填正整数！');
                return false;

            }else if(memory>128){
                $('#connect_info').removeClass('alert-info');
                $('#connect_info').addClass('alert-danger');
                $('#connect_info').addClass('alert-dismissable');
                $('#connect_info').text('内存容量不能大于128！');
                return false;
            }


            $('#confirm_host').text($('#recipient-name3').val());
            $('#confirm_cpu_num').text($('#host_cpu').val());
            $('#confirm_ip').text($('#host_ip').val());
            $('#confirm_memory_num').text($('#host_memory').val());
            if($('#recipient-name4').val()==1){
                $('#confirm_type').text('CentOS_6.4_20G');
            }
            if($('#recipient-name4').val()==2){
                $('#confirm_type').text('CentOS_6.4_100G');
            }
            if($('#recipient-name4').val()==3){
                $('#confirm_type').text('CentOS_6.4_300G');
            }
            if($('#recipient-name4').val()==4){
                $('#confirm_type').text('CentOS_7.2_20G');
            }
            if($('#recipient-name4').val()==5){
                $('#confirm_type').text('CentOS_7.2_100G');
            }
            if($('#recipient-name4').val()==6){
                $('#confirm_type').text('CentOS_7.2_300G');
            }

            $('#add_machine').modal();

        }

            function host_manage(id) {
                $('#change_name').modal();
                    $.ajax({
                        url: 'task_virtual.html',
                        type: 'POST',
                        data: {
                            'change_id': id,
                        },
                        dataType: 'JSON',
                        success: function (data_dict) {
                            if (data_dict.status) {
                                $('#change_iid').val(data_dict.id);
                                $('#change_hostname').val(data_dict.hostname);
                            }else {
                            }
                        }
                    });

            }

            function host_del(id) {
                $('#del_machine').modal();

                $('#del_confirm').click(function () {
                    $.ajax({
                        url: 'task_virtual.html',
                        type: 'POST',
                        data: {
                            'host_del_id': id,
                        },
                        dataType: 'JSON',
                        success: function (data_dict) {
                            if (data_dict.status) {
                                location.reload();
                            }else {
                                $('#del_machine').hide();
                                $('#connect_info').hide();
                                $('#connect_failed').show();
                                $('#message_info').text(data_dict.message);

                            }
                        }
                    });
                });

            }

    </script>
{% endblock %}