<style>
    .guige {

    }

    .guige-table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

    .guige-table .title {
        background: #f5fafe;
        text-align: left;
        font-weight: bold;
        line-height: 32px;
        height: 32px;
        font-family: "微软雅黑";
        border-right: 1px solid #dcdcdc;
        border-left: 2px solid #0488cd;
    }

    .guige-table td, .content .guige-table th {
        border: 1px solid #dcdcdc;
        line-height: 30px;
        height: 30px;
        padding: 0 10px;
        border-top: 0;
    }

    .guige-table .body-left {
        width: 126px;
        font-weight: normal;
        text-align: right;
        color: #666;
    }

    .guige-table .body-right {
        color: #333;
    }

</style>
<div class="guige">
    <table class="guige-table">
        <tbody>

        <tr>
            <th colspan="5" class="title f14 th" style="border-left:2px solid #0488cd;"><span class="padding-l-8">发布任务信息</span></th>
        </tr>
        <tr>
            <td>名称</td>
            <td colspan="4">值</td>
        </tr>
        <tr>
            <td>项目名</td>
            <td colspan="4">{{ response.data.release_name.name }}</td>
        </tr>
        <tr>
            <td>发布ID</td>
            <td colspan="4">{{ response.data.id }}</td>
        </tr>
        <tr>
            <td>发布环境</td>
            <td colspan="4">{{ response.data.release_env.name }}</td>
        </tr>
        <tr>
            <td>发布类型</td>
            <td colspan="4">{{ response.data.release_type.name }}</td>
        </tr>
        <tr>
            <td>发布分支</td>
            <td colspan="4">{{ response.data.release_git_branch }}</td>
        </tr>
        <tr>
            <td>JDK版本</td>
            <td colspan="4">{{ response.data.release_jdk_version }}</td>
        </tr>
        <tr>
            <td>申请发布</td>
            <td colspan="4">{{ response.data.apply_user }}</td>
        </tr>
        <tr>
            <td>申请时间</td>
            <td colspan="4">{{ response.data.apply_time }}</td>
        </tr>
        <tr>
            <td>发布说明</td>
            <td colspan="4">{{ response.data.release_reason }}</td>
        </tr>
        <tr>
            <td>GIT地址</td>
            <td colspan="4">{{ response.data.release_git_url }}</td>
        </tr>


        <!-- 项目流程开始 -->
        <tr>
            <th colspan="5" class="title f14 th" style="border-left:2px solid #0488cd;"><span class="padding-l-8">发布任务流程</span></th>
        </tr>
        <tr>
            <th colspan="5">
                <img src="/static/imgs/release_1.png" style="display: inline-block">
            </th>
        </tr>
        <!-- 项目流程结束 -->

        <!-- 项目日志开始 -->
        <tr>
            <th colspan="5" class="title f14" style="border-left:2px solid #0488cd;">
                <span class="padding-l-8">发布信息日志</span>
            </th>
        </tr>
        {% for item in log.data_list %}
            <tr>
                <td colspan="5" style="padding-left: 0; border: 1px none;">[ {{ item.time|date:"Y-m-d H:i" }} ]  {{ item.msg }}</td>
            </tr>
        {% endfor %}
        <!-- 项目日志结束 -->
        </tbody>
    </table>
</div>